[2017-02-06 09:59] vog opened #2 "Transfer list of old BHNT projects / participants"
Transfer list of old BHNT projects / participants from BHNT forum to this page.

The forum can be found at:

https://www.meetup.com/Berlin-Hack-and-Tell/messages/boards/forum/1656561

[2017-02-08 11:18] vog opened #14 "Add list of hacks for BHNT#5"
Sources:

* https://www.meetup.com/Berlin-Hack-and-Tell/messages/boards/thread/16800112
* https://www.meetup.com/Berlin-Hack-and-Tell/messages/boards/thread/16766362
* https://www.meetup.com/Berlin-Hack-and-Tell/events/35980102/

[2017-02-08 11:22] vog opened #15 "Add list of hacks for BHNT#9"
Sources:

* https://www.meetup.com/Berlin-Hack-and-Tell/messages/boards/thread/20932822
* https://www.meetup.com/Berlin-Hack-and-Tell/events/52922282/

[2017-02-08 11:25] vog opened #16 "Add list of hacks for BHNT#12"
Sources:

* https://www.meetup.com/Berlin-Hack-and-Tell/boards/thread/24793002
* https://www.meetup.com/Berlin-Hack-and-Tell/events/69853662/

[2017-02-08 11:28] vog opened #17 "Add list of hacks for BHNT#25"
Sources:

* https://www.meetup.com/Berlin-Hack-and-Tell/messages/boards/thread/39213182
* https://www.meetup.com/Berlin-Hack-and-Tell/events/147203882/

[2017-02-08 11:30] vog opened #18 "Add list of hacks for BHNT#26"
Sources:

* https://www.meetup.com/Berlin-Hack-and-Tell/messages/boards/thread/39955522
* https://www.meetup.com/Berlin-Hack-and-Tell/events/151270052/

[2017-02-08 11:32] vog opened #19 "Add list of hacks for BHNT#45"
Sources:

* https://www.meetup.com/Berlin-Hack-and-Tell/messages/boards/thread/49881955
* https://www.meetup.com/Berlin-Hack-and-Tell/events/231484893/

[2017-02-08 11:34] vog opened #20 "Add list of hacks for BHNT#46"
Sources:

* https://www.meetup.com/Berlin-Hack-and-Tell/messages/boards/thread/50174509
* https://www.meetup.com/Berlin-Hack-and-Tell/events/234194299/

[2017-02-08 11:35] vog opened #21 "Add list of hacks for BHNT#47"
Sources:

* https://www.meetup.com/Berlin-Hack-and-Tell/messages/boards/thread/50244682
* https://www.meetup.com/Berlin-Hack-and-Tell/events/234990104/

[2017-02-08 11:37] vog opened #22 "Add list of hacks for BHNT#2"
Sources:

* https://www.meetup.com/Berlin-Hack-and-Tell/messages/boards/thread/12761911
* https://www.meetup.com/Berlin-Hack-and-Tell/events/22316591/

[2017-02-08 11:38] vog opened #23 "Add list of hacks for BHNT#3"
Sources:

* https://www.meetup.com/Berlin-Hack-and-Tell/messages/boards/thread/13884071
* https://www.meetup.com/Berlin-Hack-and-Tell/events/25004721/

[2017-02-08 11:39] vog opened #24 "Add list of hacks for BHNT#4"
* https://www.meetup.com/Berlin-Hack-and-Tell/messages/boards/thread/15406702
* https://www.meetup.com/Berlin-Hack-and-Tell/events/29729371/

[2017-02-08 11:40] vog opened #25 "Add list of hacks for BHNT#5"
Sources:

* https://www.meetup.com/Berlin-Hack-and-Tell/messages/boards/thread/16766362
* https://www.meetup.com/Berlin-Hack-and-Tell/events/35980102/

[2017-02-08 11:43] vog opened #26 "Add list of hacks for BHNT#18"
Sources:

* https://www.meetup.com/Berlin-Hack-and-Tell/messages/boards/thread/30942812
* https://www.meetup.com/Berlin-Hack-and-Tell/events/100995462/

[2017-02-08 11:44] vog opened #27 "Add list of hacks for BHNT#19"
Sources:

* https://www.meetup.com/Berlin-Hack-and-Tell/messages/boards/thread/32854882
* https://www.meetup.com/Berlin-Hack-and-Tell/events/108943862/

[2017-02-08 11:44] vog opened #28 "Add list of hacks for BHNT#20"
Sources:

* https://www.meetup.com/Berlin-Hack-and-Tell/messages/boards/thread/34056792
* https://www.meetup.com/Berlin-Hack-and-Tell/events/115918302/

[2017-02-08 11:45] vog opened #29 "Add list of hacks for BHNT#21"
Sources:

* https://www.meetup.com/Berlin-Hack-and-Tell/messages/boards/thread/35063572
* https://www.meetup.com/Berlin-Hack-and-Tell/events/120065742/

[2017-02-08 11:46] vog opened #30 "Add list of hacks for BHNT#22"
Sources:

* https://www.meetup.com/Berlin-Hack-and-Tell/messages/boards/thread/35752492
* https://www.meetup.com/Berlin-Hack-and-Tell/events/123861602/

[2017-02-08 11:46] vog opened #31 "Add list of hacks for BHNT#29"
Sources:

* https://www.meetup.com/Berlin-Hack-and-Tell/messages/boards/thread/43828862
* https://www.meetup.com/Berlin-Hack-and-Tell/events/178757202/

[2017-02-08 11:47] vog opened #32 "Add list of hacks for BHNT#30"
Sources:

* https://www.meetup.com/Berlin-Hack-and-Tell/messages/boards/thread/46633662
* https://www.meetup.com/Berlin-Hack-and-Tell/events/181266562/

[2017-02-08 11:47] vog opened #33 "Add list of hacks for BHNT#32"
Sources:

* https://www.meetup.com/Berlin-Hack-and-Tell/messages/boards/thread/48749959
* https://www.meetup.com/Berlin-Hack-and-Tell/events/220559809/

[2017-02-08 11:48] vog opened #34 "Add list of hacks for BHNT#38"
Sources:

* https://www.meetup.com/Berlin-Hack-and-Tell/messages/boards/thread/49283285
* https://www.meetup.com/Berlin-Hack-and-Tell/events/224606314/

[2017-02-08 11:48] vog opened #35 "Add list of hacks for BHNT#40"
Sources:

* https://www.meetup.com/Berlin-Hack-and-Tell/messages/boards/thread/49413765
* https://www.meetup.com/Berlin-Hack-and-Tell/events/226945214/

[2017-02-08 11:49] vog opened #36 "Add list of hacks for BHNT#44"
Sources:

* https://www.meetup.com/Berlin-Hack-and-Tell/messages/boards/thread/49795946
* https://www.meetup.com/Berlin-Hack-and-Tell/events/230565665/

[2017-02-08 11:50] vog opened #37 "Add list of hacks for BHNT#10"
Sources:

* https://www.meetup.com/Berlin-Hack-and-Tell/messages/boards/thread/22683572
* https://www.meetup.com/Berlin-Hack-and-Tell/events/60692412/

[2017-02-08 11:50] vog opened #38 "Add list of hacks for BHNT#11"
Sources:

* https://www.meetup.com/Berlin-Hack-and-Tell/messages/boards/thread/23751252
* https://www.meetup.com/Berlin-Hack-and-Tell/events/65544132/

[2017-02-08 11:51] vog opened #39 "Add list of hacks for BHNT#13"
Sources:

* https://www.meetup.com/Berlin-Hack-and-Tell/messages/boards/thread/25597752
* https://www.meetup.com/Berlin-Hack-and-Tell/events/74516822/

[2017-02-08 11:52] vog opened #40 "Add list of hacks for BHNT#15"
Sources:

* https://www.meetup.com/Berlin-Hack-and-Tell/messages/boards/thread/27473982
* https://www.meetup.com/Berlin-Hack-and-Tell/events/83989092/

[2017-02-08 11:52] vog opened #41 "Add list of hacks for BHNT#16"
Sources:

* https://www.meetup.com/Berlin-Hack-and-Tell/messages/boards/thread/28315082
* https://www.meetup.com/Berlin-Hack-and-Tell/events/87375812/

[2017-02-08 11:53] vog opened #42 "Add list of hacks for BHNT#17"
Sources:

* https://www.meetup.com/Berlin-Hack-and-Tell/messages/boards/thread/29525742
* https://www.meetup.com/Berlin-Hack-and-Tell/events/94195282/

[2017-02-08 12:07] vog commented on #25
Duplicate of #14.

[2017-02-08 12:07] #25 closed

[2017-02-08 12:08] vog commented on #2
@stefanhoth @strathausen @ligi

I just went through the forum and collected all relevant entries for each BHNT event. (Mostly this was just the summary thread, but there were exceptions where projects were mentioned in another thread.)

I created individual tickets for each event, hoping that this will motivate more people to help out:

* #22 Add list of hacks for BHNT#2
* #23 Add list of hacks fo

[2017-02-08 12:08] #2 closed

[2017-02-08 12:10] ligi commented on #2
Just saw this - respect! We should really free this data from the hands of meetup - if they are gone all this might be lost !-)

[2017-02-08 12:13] ligi commented on #30
did we really had 12 presentations in this event?

[2017-02-08 12:20] #32 closed

[2017-02-08 12:26] ligi opened #45 "SEO"
We need to do some SEO magic so that when someone googles for Berlin hack and tell the meetup page is not the first one but this one.

[2017-02-08 12:26] vog opened #46 "Fix entry for BHNT#30"
I accepted #44 too quickly. The list items are missing for BHNT#30.

@ligi Could you add the missing items? Do we use an ordered or unordered list here, i.e. were you able to restore the correct order?

[2017-02-08 12:29] ligi commented on #46
I thought we agreed on unordered - I will make a separate PR to unify this - at the moment we have both

[2017-02-08 12:32] vog commented on #45
I agree, but what exactly do we need to do? Here are my ideas, additions are welcome:

- [ ] Add a link from https://www.meetup.com/Berlin-Hack-and-Tell/ to https://berlin-hack-and-tell.github.io/
- [ ] Replace the HTTP redirect from berlin.hackandtell.org to Meetup with a redirect to https://berlin-hack-and-tell.github.io/
Caveat: That redirect is a 301 Permanent redirect. :-( But I think it is s

[2017-02-08 12:38] vog commented on #46
I thought that we use unordered lists only when we can't reconstruct the original order. But I see that is true for almost all past events. So let's keep things simple for now, and use unordered lists consistently.

[2017-02-08 12:38] #46 closed

[2017-02-08 12:39] ligi commented on #46
Yea - also I think the order does not really matter - just important
that you can look up the projects afterwards IMHO

On 08.02.2017 13:38, Volker Diels-Grabsch wrote:

--
friendly greetings,
ligi
http://ligi.de

[2017-02-08 12:46] stefanhoth commented on #45
I can tell the admins of hackandtell.org to add a CNAME for berlin.hackandtell.org (currently redirecting to the meetup group) and set up the repo to be served under that url. Any objections?

[2017-02-08 12:49] vog commented on #45
That's even better!

Still, to convince Google entirely, I think we also need a link from Meetup back to berlin.hackandtell.org

[2017-02-08 13:07] stefanhoth commented on #45
Agreed but only if that link doesn't lead back to the same site 😉

[2017-02-08 13:12] vog commented on #30
Good question. Although I presented, too, I don't remember how many we were.

@stefanhoth Was there a special reason to have 12 instead of 8 presentations?

[2017-02-08 13:53] ligi commented on #45
:+1:

currently there is a link from meetup to google+ - this was never really
active and perhaps we can just replace this

[2017-02-08 13:57] vog commented on #45
Oh the irony! Replacing a Google+ link to convince Google. :grin:

[2017-02-08 15:33] stefanhoth commented on #45
Yes, for sure we can use it and also in the "about this group" text. But only if the migration of the subdomain is done.

[2017-02-08 16:33] vog opened #49 "Strange last entry for BHNT#1"
While cleaning up BHNT#1, I noticed that there is no presenter for the last (6th) entry:

* Memoryous - Machine learning test grading over email (Not yet live) (Project, GitHub) by ???

Moreover, I can only find 5 entries in the forum: https://www.meetup.com/Berlin-Hack-and-Tell/messages/boards/thread/12298041

@strathausen Where did you get this information from? Can you find the presenter?

@ste

[2017-02-08 16:36] strathausen commented on #49
I got it from here:
http://grical.org/e/show/915/

which was mentioned in the meetup-thread:
https://www.meetup.com/Berlin-Hack-and-Tell/events/19514831/

[2017-02-09 09:22] vog commented on #49
@stefanhoth Any idea who was the presenter?

[2017-02-10 01:19] vog opened #53 "Integrate information from Twitter"
Integrate all information from Twitter about past presentations.

* https://twitter.com/search?f=tweets&vertical=default&q=%23bhnt&src=typd

(based on #6#issuecomment-278802011)

[2017-02-10 01:22] vog opened #54 "Add information from Google Docs polls"
Add information from previous Google Docs polls.

See also: https://github.com/berlin-hack-and-tell/berlin-hack-and-tell.github.io/pull/6#issuecomment-278802011

[2017-02-10 09:00] #42 closed

[2017-02-10 10:15] #41 closed

[2017-02-10 11:25] #40 closed

[2017-02-10 11:28] vog opened #60 "Missing winners of BHNT#16 and BHNT#17"
Does anybody know which presentations became the **Hack of the month** of BHNT#16 and BHNT#17?

[2017-02-10 13:50] stefanhoth commented on #60
Sorry, I have no data on this.

[2017-02-10 13:58] stefanhoth commented on #54
Could someone help me please? I have a list of polls in my drive folder but I don't have time right now to go through all of them and compare with the website. I'll post a list of events I have information of and you tell me which content you need.

- 5
- 7
- 11
- 22
- 24
- 26
- 27
- 29
- 30
- 31
- 32
- 33
- 35
- 38
- 43
- 44
- 45
- 46
- 47
- 48

Sorry I can't do more.

[2017-02-10 20:54] vog commented on #54
Making a TODO list out of your items, so we can mark all unneeded and/or incorporated entries:

- [ ] 5
- [ ] 7
- [ ] 11
- [ ] 22
- [ ] 24
- [ ] 26
- [ ] 27
- [ ] 29
- [ ] 30
- [ ] 31
- [ ] 32
- [ ] 33
- [ ] 35
- [ ] 38
- [ ] 43
- [ ] 44
- [ ] 45
- [ ] 46
- [ ] 47
- [ ] 48

[2017-02-10 20:55] stefanhoth commented on #49
Yes, it was @Quesada who pitched his startup. We didn't have strict rules back then and were happy for people contributing. 😉

[2017-02-10 20:57] stefanhoth commented on #30
It might very well be the reason why I started to have a fixed set of 8. I remember one day the hands were coming and coming and coming and we kept going for 3 hours without break. 12 seems not enough for that though. I think it was another one but the 8 slot format was only introduced 2 years ago or so.

[2017-02-10 21:09] vog opened #61 "Add information from Google Docs polls for BHNT#43"
This is the first request regarding #54.

For BHNT#43 we were only able to reconstruct 2 presentations:

* https://berlin-hack-and-tell.github.io/#berlin-hack-and-tell-43---easter-heggs

@stefanhoth Which were the remaining ones?

[2017-02-10 21:27] vog commented on #60
Maybe we could ask around via Meetup who were the winners? However, we risk to receive false positives this way, I guess. ;-)

[2017-02-11 17:57] #30 closed

[2017-02-11 20:01] #49 closed

[2017-02-11 21:29] stefanhoth commented on #60
Actually come to think of it we didn't start the "Hack of the Month" with the trophy until the 3rd year or so,I think. Might be that there was no winner.

[2017-02-11 21:31] stefanhoth commented on #60
Maybe @kcorwin or @cbuchler know?

[2017-02-13 09:50] #26 closed

[2017-02-13 13:05] #21 closed

[2017-02-13 14:37] #36 closed

[2017-02-14 19:16] #35 closed

[2017-02-15 13:37] #33 closed

[2017-02-17 09:47] vog opened #77 "Which one was the "First seen on BHNT" project?"
At the last BHNT#49 event it was mentioned that there is some now-popular project which was "first seen on BHNT".

* Which one was it?
* At which BHNT event?

[2017-02-17 09:56] ligi commented on #77
I referenced @Miserlou  s talk at #33c3  -https://media.ccc.de/v/33c3-7865-gone_in_60_milliseconds
![Uploading Selection_012.png…]()

[2017-02-17 09:58] #77 closed

[2017-02-17 15:03] #34 closed

[2017-02-17 18:42] #31 closed

[2017-02-18 15:32] #20 closed

[2017-02-18 15:32] #19 closed

[2017-02-18 15:40] #28 closed

[2017-02-18 15:50] vog commented on #45
Is there any progress on the berlin.hackandtell.org subdomain?

[2017-02-19 21:15] stefanhoth commented on #45
Not yet. Still waiting for someone with DNS access to hackandtell.org. Seems a bit difficult.

[2017-02-20 11:00] #27 closed

[2017-02-20 12:25] #18 closed

[2017-02-21 12:22] #17 closed

[2017-02-21 20:29] #16 closed

[2017-02-22 12:19] #29 closed

[2017-02-26 09:04] vog opened #103 "Missing information on c-base presentation at BHNT#2"
Somebody from c-base ("t" ?) presented "c-base lightcontrol" at 2nd BHNT. Do you have any idea who was it?

Also, the URLs pointing to "dev.c-base.org" no longer exist. Do you have any idea where these were moved to?

[2017-02-26 09:49] stefanhoth commented on #103
Ancient questions/projects here. I love it!

The project is likely this one: https://github.com/c-base/dmxdmon
It moved when the internal c-base git space was closed.

The presenter was @yncyrydybyl.

[2017-02-26 09:52] vog opened #107 "Idea: Save event photographs here"
Just a rough idea: As we are "freeing" information from the Meetup Forum to this page, what about the photographs? Does it make sense to copy them over here, too?

(Then, replacing the "Photos" links with local links to this site, where all photographs of the respective BHNT event are listed.)

@stefanhoth, @ligi: What do you think?

[2017-02-26 09:59] stefanhoth commented on #107
Fine with me. It's not a crazy amount of data. Should be fine.

[2017-02-26 10:22] vog opened #110 "Add information from Google Docs polls for BHNT#5"
We got all information from BHNT#5, except for one: Which one was the hack of the month?

[2017-02-26 10:29] vog opened #111 "Need Google Docs poll info for BHNT#7"
We have no information at all about BHNT#7. So we need all information from the Google Docs poll:

* Which projects where presented? By whom?
* Which one was the hack of the month?

[2017-02-26 10:29] vog opened #112 "Need Google Docs poll info for BHNT#24"
We have no information at all about BHNT#24. So we need all information from the Google Docs poll:

* Which projects where presented? By whom?
* Which one was the hack of the month?

[2017-02-26 10:29] vog opened #113 "Need Google Docs poll info for BHNT#27"
We have no information at all about BHNT#27. So we need all information from the Google Docs poll:

* Which projects where presented? By whom?
* Which one was the hack of the month?

[2017-02-26 10:29] vog opened #114 "Need Google Docs poll info for BHNT#31"
We have no information at all about BHNT#31. So we need all information from the Google Docs poll:

* Which projects where presented? By whom?
* Which one was the hack of the month?

[2017-02-26 10:29] vog opened #115 "Need Google Docs poll info for BHNT#33"
We have no information at all about BHNT#33. So we need all information from the Google Docs poll:

* Which projects where presented? By whom?
* Which one was the hack of the month?

[2017-02-26 10:29] vog opened #116 "Need Google Docs poll info for BHNT#35"
We have no information at all about BHNT#35. So we need all information from the Google Docs poll:

* Which projects where presented? By whom?
* Which one was the hack of the month?

[2017-02-26 10:32] stefanhoth commented on #110
So I only found a summary document, probably sent out as an email. https://docs.google.com/document/d/1dH5i-rn_ktNEbnvkz3-J4uWNim3BLC8TFPDOZ-zZO44/edit?usp=sharing

It doesn't mention a winner (not sure we already did it) but I know I'm *still* telling everyone about your hack so I'd be happy to call it hack of the month: https://github.com/vog/beautify_git_hash

[2017-02-26 10:37] stefanhoth commented on #111
Hey @tobibo (waving to the other side of the globe). Could you check your Google drive if there's anything about Hack and Tell, especially the low numbers under 15?

Thanks!

[2017-02-26 10:39] stefanhoth commented on #112
"DCC over HTTP" by Freddy
"Sad Desk Lunch" by David
"Jingo" by Claudio
"Plocs" by Christian
"FastTask" by Charles
"html2dom" by Freddy
"Filebrowser" by Michael

Hack of the month: "Covr.li" by Plaetzchen

[2017-02-26 10:41] stefanhoth commented on #113
BBBike backend by Dennis
one-click uploader by Michael
jsPDF by James
pull request tool by Anton
ympd by Andi
hardware stuff ios by Paul
deez.me by Jörn

Hack of the month: Mate Light by jaseg

[2017-02-26 10:42] stefanhoth commented on #114
joukkue by aBe
imagediff by Sebastian
Image Binarizer 2000 Premium Pro by Mina
goandroid refactoring by ligi

Hack of the month: Yowsup by Tarek

[2017-02-26 10:43] stefanhoth commented on #115
Tidus gem by Tobias
vimify by Philipp
YeahLetsDoThat Event Sourcing Demo by Uwe
Android Color Thief by Henrique
Mailbox Collection Time Filter by Tobi
kvmhosting by Volker
Git mirroring by Amer

Hack of the Month: WikDict by Karl

[2017-02-26 10:44] stefanhoth commented on #116
BargainHunter by Marcos
etherRemote by Ligi
SelfReflection by Will
AmazonSnipR by Sebastian
Rabbit by Tarek
ShareIntentBuilder by cketti

Hack of the Month: Sierra Leone Banks by Knut

[2017-02-26 10:45] stefanhoth commented on #61
Web of Science Scraper by Alia
CloudRunner by Sebastian
Parallel Reversal Schedules by Volker
Live Counter by Knut
Slate by Mario (Oreo)
Docker/Swarm by Jerome
Jekyll by Ligi

Hack of the month: Double Sided QR by Aleksei

[2017-02-26 10:50] stefanhoth commented on #45
I sent an email to the person who registered the domain. Hope that will help.

[2017-02-26 10:55] vog commented on #103
Reopening this issue, as this information still needs to be incorporated into README.md

[2017-02-26 11:34] #22 closed

[2017-02-26 11:35] #14 closed

[2017-02-26 11:36] #24 closed

[2017-02-26 11:37] #23 closed

[2017-02-26 11:37] ligi commented on #107
:+1: rescue all the data!

[2017-02-26 12:27] vog commented on #112
Reopening, as this information still needs to be incorporated into README.md.

[2017-02-26 12:27] vog commented on #110
Reopening, as this information still needs to be incorporated into README.md.

[2017-02-26 12:28] vog commented on #113
Reopening, as this information still needs to be incorporated into README.md.

[2017-02-26 12:28] vog commented on #114
Reopening, as this information still needs to be incorporated into README.md.

[2017-02-26 12:28] vog commented on #115
Reopening, as this information still needs to be incorporated into README.md.

[2017-02-26 12:28] vog commented on #116
Reopening, as this information still needs to be incorporated into README.md.

[2017-02-26 12:29] vog commented on #61
Reopening, as this information still needs to be incorporated into README.md.

[2017-02-26 13:33] vog commented on #110
Thanks, so I'm adding a tag "Unofficial hack of the month".

I remember vaguely that there was an actual voting with a winner (which wasn't me), so it would be unfair to call beautify_git_hash the actual "Hack of the month".

[2017-02-26 13:35] vog opened #119 "Need Google Docs poll info for BHNT#11"
One last event for which we need information from the Google Docs poll.

The list of presentations for BHNT#11 is incomplete. Also, it is unknown which was the hack of the month.

Related to #117 and #38.

[2017-02-26 13:37] vog commented on #54
Okay, with #119 finally the picture is complete and we know exactly which information from Google Docs poll we need, and which ones we don't need.

[2017-02-26 13:45] #38 closed

[2017-02-27 23:47] tobibo commented on #111
@stefanhoth (waving back 👀) I had a look through my google docs, unfortunately nothing there except some invitation email templates, looks like you guys got a fairly comprehensive list for all the events except the very early ones :1st_place_medal:

[2017-02-28 14:11] vog commented on #111
@stefanhoth I'm a bit confused here. In #54 you listed all events for which you have information, and that list included BHNT#7. Is there a typo in that list?

[2017-02-28 14:18] stefanhoth commented on #111
@vog Yeah, I think I mistook a checklist for prepping the event for the results doc. Sorry.

[2017-02-28 14:28] ligi commented on #111
speaking of a checklist for prepping - making this public would be nice - could have used this last time ;-)

[2017-02-28 15:50] vog commented on #111
Okay, seems we have no information on BHNT#7. Closing this.

[2017-02-28 15:50] #111 closed

[2017-02-28 15:52] #15 closed

[2017-02-28 15:54] #112 closed

[2017-02-28 15:56] #114 closed

[2017-02-28 15:56] #113 closed

[2017-02-28 15:59] #115 closed

[2017-02-28 16:00] #116 closed

[2017-02-28 16:00] #37 closed

[2017-02-28 16:03] #39 closed

[2017-02-28 17:46] #110 closed

[2017-02-28 21:32] vog commented on #119
@stefanhoth Any information on this?

[2017-02-28 22:50] stefanhoth commented on #45
@vog @ligi We are live! berlin.hackandtell.org

[2017-02-28 22:52] stefanhoth commented on #45
I think everything has been covered. Reopen if I missed sth.

[2017-02-28 22:52] #45 closed

[2017-02-28 22:52] ligi commented on #45
YAY

[2017-02-28 23:28] stefanhoth commented on #119
List from the form

 Automated Nethack Bot in Perl: by Benjamin
 Twitter Streaming Display in Thin/Event Machine on Heroku: by Tobias
 Wikidata: by Jens
 Shared Stuff (and Unhosted / Remote Storage standard): by Jan
 Polarize.it: by Simon
 Controller for Furnace: by miceuz
 Remote Whiteboard (in Dart & Go): by Andreas
 Map/Reduce in Hadoop - sorting large batch in reduce call: by Shandra
 Wazapp -

[2017-03-01 06:19] vog opened #142 "Rename GitHub repository"
I propose to rename GitHub repository from "berlin-hack-and-tell.github.io" to "berlin.hackandtell.org", and to adjust the link in the project description accordingly.

@stefanhoth @ligi Any objections?

[2017-03-01 11:10] ligi commented on #142
I think this might not work anymore then - wasn't it the case that this speciall naming triggers the jekyll processing - or is the config.yml enough? Also we might have some links to the current URL which are broken then - my gut says keep this as it is - but it is not a strong feeling - would not object if you really want to do so

[2017-03-01 12:24] vog commented on #45
Finally!

[2017-03-01 12:31] vog commented on #142
No, the special naming was only needed as long as we used "berlin-hack-and-tell.github.io".

Every repo can be a Jekyll-site, I do that a lot with my own repos. However, without the special repo name it is served from the sub-URL `https://berlin-hack-and-tell.github.io/REPONAME/`. For example, I have https://vog.github.io/shasplit/ and https://vog.github.io/bitcoinproof/.

In short: Now that we ha

[2017-03-01 12:31] vog commented on #142
Any other objections? @stefanhoth?

[2017-03-01 12:38] ligi commented on #142
thanks for the clarification @vog - but still we might get broken links then as https://berlin-hack-and-tell.github.io will not work anymore - perhaps this should get a redirect

[2017-03-01 14:34] vog commented on #142
@ligi Agreed. Let's see what the GitHub configuration offers in that regard. It is definitely possible, the question is just what is the easiest way to setup that redirect (either a direct GitHub settings, or a dummy repo with just a CNAME).

@stefanhoth Are you okay with this?

[2017-03-01 14:37] vog commented on #119
Thanks!

[2017-03-01 14:40] vog commented on #60
@kcorwin, @cbuchler: Do you have any information on this?

[2017-03-01 14:43] cbuchler commented on #60
@vog I'm sorry, I don't :-(

[2017-03-01 15:15] kcorwin commented on #60
To the message boards!

16:
https://www.meetup.com/Berlin-Hack-and-Tell/boards/view/viewthread?thread=28315082

17:
Not actually documented, but I'm pretty sure the winner was some guy named @stefanhoth --
https://www.meetup.com/Berlin-Hack-and-Tell/messages/boards/thread/29525742

[2017-03-01 16:48] vog commented on #60
16:

I must have overlooked this. Thanks! See PR #143

17:

@stefanhoth: Can you confirm this?

[2017-03-01 18:25] stefanhoth commented on #142
If the repo doesn't have that name I think the content needs to move from master to gh-pages as a branch name. Other than that I have no reservations.

[2017-03-01 22:36] stefanhoth commented on #60
It's true. Who won #17 and neverever again? Oh yeah...

![](https://media.giphy.com/media/3o7TKRdui2W7eOQ99K/source.gif)

[2017-03-02 09:22] vog commented on #142
@stefanhoth The gh-pages branch is no longer needed. In the Settings tab you can specify that GitHub-pages shall take the master branch.

(I applauded that change, because I'm a firm believer of "documentation = website" and "documentation should be as close as possible to the source". In the past I always had some mechanism that ensures the gh-pages branch is always identical to master. When GitH

[2017-03-02 09:23] vog commented on #142
Since there are no further objections, I'm renaming the repo.

[2017-03-02 10:17] vog commented on #142
Renaming finished successfully.

To keep the old URL https://berlin-hack-and-tell.github.io working, I unfortunately had to create a "berlin-hack-and-tell.github.io" repository just for the redirect. Maybe this isn't worth the trouble?

@stefanhoth @ligi Should we keep or remove the "berlin-hack-and-tell.github.io" redirect repository?

[2017-03-02 10:53] stefanhoth commented on #142
I don't mind having it. Working links are always good 👍

[2017-03-02 12:23] vog commented on #142
Okay, so let's keep things as they are.

[2017-03-02 12:23] #142 closed

[2017-03-02 12:26] vog commented on #53
Couldn't find anything that we don't already have.

[2017-03-02 12:26] #53 closed

[2017-03-02 13:18] #119 closed

[2017-03-02 14:03] #60 closed

[2017-03-02 14:46] vog opened #153 "Link to Hack of the month of BHNT#50"
@k-nut Could you provide a link (ideally via pull request) to your Hack of the month "Stadt, Land Wikidata"? Thanks!

[2017-03-06 06:39] k-nut commented on #153
Took some time to get it in a roughly presentable state but there you go 🎉

[2017-03-07 18:13] #153 closed

[2017-03-07 18:18] vog commented on #61
@stefanhoth Are you sure this information is correct? I'm pretty sure that I won the throphy (for the first and only time in BHNT at all) when presenting tool I developed for my math diploma thesis "prs".

[2017-03-28 13:48] ligi commented on #61
Hm I just wanted to add a link to my presentation after reviewing and merging the change - but then saw that this entry already exists - AFAIR I was only taling about jekyll / jekyllify once and it was after I presented the survival manual app - so this entry must be wrong

[2017-03-28 14:43] vog commented on #61
@stefanhoth That would be the 2nd error in this Google Docs poll dataset. This is really strange.

Anyway, I'd suggest that we simply fix all mistakes that we find.

[2017-03-28 14:46] ligi commented on #61
yea - but the only fix I have in mind currently is just to remove it -
but then it would be 7 slots - strange - think I will look into this
later - was mainly a reminder to not forge this and maybe get some
external info on this ..

[2017-03-28 14:48] vog commented on #61
@ligi Leaving this issue open as a reminder for you. :-)

[2017-04-23 09:05] strathausen commented on #114
I'm also adding a presentation that I forgot to mention in the meetup website, but I tweeted it back then: https://twitter.com/strathausen/status/692293662210985985

[2017-04-23 09:17] strathausen commented on #114
But, it does not show in the google docs poll? Actually now I'm unsure about the date. Tweet and github say January 27th, but the time ~11:30am doesn't make any sense...

[2017-04-23 19:39] vog commented on #114
@strathausen You might want to have a look at #54 where you find a list of all Google Polls. You should consider only BHNT events which are *not* on that list (as it obviously didn't appear on any Google poll).

[2017-04-25 15:20] vog commented on #61
@ligi Any progress on this?

[2017-05-10 16:45] vog opened #164 "Add information from poll of BHNT#51"
Woever did the poll for BHNT#51: Could you copy & paste your data into this issue, please?

Then, others (such as myself) could take care of incorporating it.

The only important thing is that we have the data here.

[2017-05-10 16:48] ligi commented on #164
Not sure how to reach Simon - he was making the poll/list - do you have the contact @stefanhoth ?

[2017-05-31 13:21] vog opened #169 "Add missing hack of BHNT#52"
We had 8 hacks, but #168 provides only 7. The missing project is the one with the hard-to-remember project name, which was about phonetic transcription. Which one was it?

[2017-06-04 09:22] #169 closed

[2017-07-25 18:50] vog commented on #103
Ok, created pull request for that.

[2017-07-26 10:03] #103 closed

[2017-10-08 23:04] stefanhoth opened #186 "Moving domains to berlinhackandtell.rocks"
This is just an FYI for @ligi @vog etc

Given that the US-based people for `hackandtell.org` are so unreliable and hard to reach I moved the project to ´berlinhackandtell.rocks´ to keep it alive.

I also changed the repo name and all occurrences I could find.

If I manage to get contact to any domain owner I will try to revive `berlin.hackandtell.org´ as a forward to the new domain. No promises th

[2017-10-08 23:14] stefanhoth commented on #186
PS: Update your local remotes if you still have a local checkout somewhere.

[2017-10-09 08:06] vog commented on #186
Renamed my directories, my forked repository and adjusted my `.git/config`.

@stefanhoth Thanks for taking care of that.

The whole domain `hackandtell.org` was down for quite some time. External dependencies are always critical, and unreliable ones are especially risky.

In case we are able to make them revive `berlin.hackandtell.org`, I propose not to rename everything again. Instead, we should

[2017-10-09 08:16] stefanhoth commented on #186
Yes, that's what I meant to say.

I was surprised to learn it's the same price of the .de domain (at least at Hetzner)

[2017-10-09 08:18] stefanhoth commented on #186
Also PS: I purchased a mail forwarder. Which should be the address? `mail@` or `team@` ? Something else?

[2017-10-09 12:31] vog commented on #186
My 2 cents:

Either `mail@...` because this is so common and simple and can easily be guessed.

Or, use a more unique identifier (e.g. `bhnt-team`) to prevent spam, i.e. to avoid spambots which probe "generic name" @ "domain" for many domains.

I'm don't like `team@` as it combines the disadvantages of both.

[2017-10-09 12:32] vog commented on #186
@ligi What do you think?

[2017-10-09 12:39] ligi commented on #186
mail@ sounds good - but have no strong opinion on that - currently quite busy

[2017-10-13 22:34] stefanhoth commented on #186
@ligi @vog I set up the mail forward that now pipes into a Google group. If you let me know a Google-account I will add it to this Group so you'd get the messages to this address, too.

[2017-10-15 11:33] stefanhoth opened #187 "Better layout/editing: Use jekyll data sources and post layouts"
Knowing jekyll's features just a bit I know we could leverage either data sources or posts to make navigation of the page and the layout a bit more user friendly. This would allow to link to "episodes" directly instead of one big list.

[2017-10-15 11:35] stefanhoth commented on #187
This is mainly to not forget about the idea for an improvement.

[2017-10-29 22:11] stefanhoth commented on #187
I've done this over the weekend.
This is a slight spoiler and I'll send a proper PR soon.
![image](https://user-images.githubusercontent.com/45467/32148988-845f6d50-bcfe-11e7-9ae9-838983c9082f.png)

[2017-10-29 22:12] stefanhoth commented on #186
@ligi still need your gmail account to be added to the Google Group.

[2017-10-29 22:13] stefanhoth commented on #187
👀 @ligi @vog

[2017-10-29 22:21] ligi commented on #187
looks nice

[2017-10-29 22:25] stefanhoth commented on #186
Done. ✅

[2017-10-29 22:25] #186 closed

[2017-10-30 11:31] vog commented on #187
Good work!

[2017-11-07 14:48] #187 closed

[2018-06-08 11:35] vog commented on #61
@ligi I think we should be some decision here to get this off the table.

[2018-08-01 15:09] k-nut opened #220 "Explain what hack and tell is"
Should we maybe explain what hack and tell is on the website? Right now it's just a collection of the hacks but maybe we could add a short paragraph at the top to explain to newcomers what they are looking at? That way we could link to that page to explain to people what BHNT is instead of having to link to the Meetup page.

What do you all think?

[2018-08-01 15:15] ligi commented on #220
love the idea - that said I will realistically have no time to work on this any time soon ..

[2018-08-02 07:56] vog commented on #220
@k-nut That's a very good idea. In case you'd like to draft such a paragraph, please go ahead.

[2018-08-08 07:59] lucasrangit commented on #220
@ligi you can close this. it's been merged.

[2018-08-08 09:12] #220 closed

[2018-08-11 11:38] stefanhoth commented on #164
I had another look and I actually found it.

Cketti - Extensible Family Emoji
Markus - Pitch Detect
Knuth - GitHub Licence Check
Adam - Berlinale NOW
Michael - MapSCII (Maps + ASCII)
Seid - Apartment Snake
David - JS Test Visualizer 2000 Gold
Riot - Hack this box

Winner: Michael - MapSCII (Maps + ASCII)

[2018-08-11 14:33] vog commented on #61
@ligi Any progress on this?

This is the last "historical" issue regarding the incorporation of the old Google Docs polls. If we don't resolve this now, we'll probably never resolve it.

[2018-08-11 16:30] vog commented on #61
@ligi What about you? You mentioned in your comment https://github.com/berlin-hack-and-tell/berlinhackandtell.rocks/issues/61#issuecomment-289793713 that you might get some external info on this.

[2018-08-11 16:31] vog commented on #164
Great. Thanks! Now we just need a volunteer to put that into the site, and perhaps searching/guessing some URLs.

[2018-08-11 16:35] ligi commented on #61
Yea - this was my hope - that perhaps a participant was reading the issue and could fill the gap. Unfortunately not the case and I also have no idea ..

[2018-08-11 16:44] vog commented on #61
Okay, so let's close this issue as non-resolvable.

[2018-08-11 16:44] #61 closed

[2019-01-10 21:53] stefanhoth commented on #54
Closing this as all listed issues are either resolved or closed otherwise.

That was great team work! Thanks 🎉

[2019-01-10 21:53] #54 closed

[2019-01-13 19:39] #164 closed

[2019-06-13 08:40] qabbasi opened #250 "Add slides for Berlin Hack & Tell #72 - "Electing Hacks""
👋 I was one of the speakers of the above meetup. It would be great if you could add slides to https://berlinhackandtell.rocks/

[2019-06-13 08:41] qabbasi commented on #250
c.f. https://www.meetup.com/Berlin-Hack-and-Tell/events/261731520/

[2019-06-21 07:52] stefanhoth commented on #250
Done via #249

[2019-06-21 07:59] stefanhoth commented on #250
Sorry, we've added the slides but the list of hacks is still missing. @lucasrangit would you be able to add that?

[2019-06-21 20:04] lucasrangit commented on #250
Yes, I'll do it now.

[2019-06-25 15:09] #250 closed

[2019-06-25 19:29] lucasrangit opened #254 "bhnt 72 add hacks"
1. AFL
1. webRTC beaker
1. dotfile rage by chr6stpr
1. Quadrobot
1. DebLib by Henry addo
1. Crypto yield curve by Max
1. Hexliterate by ssimono
1. Infinito by KevinFranz

[2019-06-26 11:21] D1plo1d commented on #254
My github for webRTC beaker and associated 3D printer hacks is `https://github.com/tegh`. Thanks for an awesome event :)

[2019-07-29 08:35] lucasrangit commented on #254
@D1plo1d  Do you mean https://github.com/D1plo1d/tegh-cli ? Your link is broken.

[2019-07-29 14:40] D1plo1d commented on #254
@lucasrangit sorry about that it's moved to https://github.com/tegapp/

[2019-07-30 12:49] #254 closed

[2019-07-30 19:46] lucasrangit opened #257 "bhnt 73 hacks"
| 1 PycturePlanner by GorgiAstro | 2 Zpkg by ihucos | 3 Lovebits by murimuffin5 | 4 Feedly replacement by Knut | 5 Game of life by Lucasrangit | 6 Overload by yro | 7 1D cellular automata ne By subgraph | 8 Shakyground by |

[2019-07-31 04:38] ligi commented on #257
thanks! here some more notes from victor:

#73 07-2019

1. PycturePlanner
@gorgiastro
gh:gorgiastro/my-first-pyside2-orekit-gui
PySide + Orekit

2. zpkg
@ihucos
"meta package manager
zpkg.plash.io
gh:ihucos/zpkg

3. LoveBits
@Murat Kemaldar
"code poems
lovebits.bilebile.net

4. selfhosted RSS in DNS
@Knut
reader.k-nut.eu CNAME dynDNS A IP
miniflux.app
!filler

5. Interview
@Lucas Rangit
"Conway's

[2019-07-31 04:40] ligi commented on #257
we need to double check the github handles here I just saw - e.g. I know @knut -> @k-nut

[2019-07-31 05:49] ligi commented on #257
hack of the month was: LoveBits

[2019-07-31 07:28] lucasrangit commented on #257
Anyone know the presenter names for the last two?

[2019-07-31 07:36] #257 closed

[2019-10-22 18:18] MarlonSchultz opened #267 "News BHNT 75"
# NEWS

- [Meetup.com Introduces RSVP Fees for Members, WordPress Meetup Groups Unaffected by Pricing Changes](https://wptavern.com/meetup-com-introduces-rsvp-fees-for-members-wordpress-meetup-groups-unaffected-by-pricing-changes)

- [Docker Hub gets 2FA](https://www.docker.com/blog/designing-docker-hub-2fa/)

- [Django 3.0 released](https://www.djangoproject.com/weblog/2019/oct/14/django-30-beta-

[2019-10-23 13:21] vog commented on #267
* IOCCC 2019 winner programs finally released: https://www.ioccc.org/years.html#2019

[2019-10-29 15:35] lucasrangit commented on #267
Thanks for the news. Let's save it for next month when you are feeling better and can present. I
already have a bunch of news slides about open hardware.
On Tue, 2019-10-22 at 11:18 -0700, Marlon wrote:

[2019-11-19 13:33] #267 closed

[2019-11-19 13:41] MarlonSchultz opened #270 "News / Hosting BHNT 76"
# Hosting
Who will be around to help? @ligi is in Japan and @lucasrangit is in the States.

I will be there and can host. Some help / Co-Moderation would be great.

# MateLight

@lucasrangit built a new system to control the matelight. It will have its maiden voyage next week. Plus: The speaker will be able to see the countdown on a seperate screen.

# News
@vog is still news worthy to you ? "IOCC

[2019-11-19 13:53] MarlonSchultz opened #271 "TeamStuff BHNT"
Two weeks ago @lucasrangit and I met at c-base and talked about some things we would like to improve.

First off: @lucasrangit build a new mate light controller that inherits the voting functionally from his previous hack. Thanks lucas.

What we would like to do is this:

# Regular Meetings
- Lets have a regular meet at the c-base to discuss things concerning the BHNT, share knowledge and actually

[2019-11-19 13:56] MarlonSchultz commented on #270
Oh, we need a TITLE !!!!

[2019-11-22 09:44] vog commented on #270
I believe the IOCCC 2019 winner notification is still worth mentioning, especially with regard to encourage everyone to participate in next year's 2020 round of IOCCC.

I originally wanted to present my IOCCC entry at this BHNT, but will probably postpone this again, as I promised to ligi to present when he's back. That way, mentioning IOCCC this in in slides, and next time in terms of my presenta

[2019-11-22 09:49] vog commented on #270
News (from October, but not mentioned last time, I think):

* Nobel prize to Michel Mayor and Didier Queloz "for the discovery of an exoplanet orbiting a solar-type star". https://www.nobelprize.org/prizes/physics/2019/summary/

Related title proposals:

* Exo Hacks
* Exo(planetary) Hacks

[2019-11-22 09:52] ligi commented on #270
cool you will host the BHNT @MarlonSchultz ! looking forward to seeing the new counter system when I am back.

Title suggestion: "CyberHacks" - as the CyberTruck was just released by tesla

the Kotlin version is actually 1.3.60

I think the stuff from the github universe is quite nice - the new search functions, semantic code nav and the github archive program
https://twitter.com/mr_ligi/status/11

[2019-11-22 10:24] MarlonSchultz commented on #270
KK, ill announce it later today via Twitter and Meetup.

[2019-11-26 07:36] MarlonSchultz commented on #270
I will add a small RIP for Jimmy Schulz at the beginning.

[2019-11-27 01:29] lucasrangit commented on #270
Thanks for hosting Marlon! Looking forward to seeing the hacks and
pictures.

On Mon, Nov 25, 2019, 23:36 Marlon <notifications@github.com> wrote:

[2019-12-01 15:02] #270 closed

[2019-12-17 08:45] MarlonSchultz opened #276 "Delete Event New Year´s Eve"
Who has the power to edit the c-base calender? I guess we wont be having a hackntell on New Year´s Eve. :)

[2019-12-30 15:36] #276 closed

[2020-01-18 08:41] MarlonSchultz commented on #271
The locker is not in the game anymore. We do however have a big bag of shirts and more storage room in the room right next to the bar. Once you enter the storage room to your right hand, bottom shelf, is some room dedicated to the BHNT.

I would love a in person meeting with all you guys/gals to sync once.

[2020-05-15 09:07] lucasrangit opened #283 "Enable urlchecker-action to check for broken links"
I learned about this at a GitHub Satellite lightning talk (https://githubsatellite.com/lightning-talks/) https://www.youtube.com/watch?v=rBd_PA8Qnoo&feature=emb_logo .

Looks like a good way to automate checking our list of hacks for broken links when a PR is opened.

I'll try and set it up using Actions.

[2020-05-15 10:18] lucasrangit commented on #283
Implemented in #284 and verified to work in #285.

[2020-05-15 10:18] #283 closed

[2021-08-30 22:32] lucasrangit opened #292 "action: needs-url-checks: fix set-env deprecation"
The `needs-url-checks` action is broken with the following error. Should fix this so we can add automatic URL validation to PRs.

[code]

Just tried it here https://github.com/berlin-hack-and-tell/berlinhackandtell.rocks/runs/3467003420?check_suite_focus=true .

[2021-10-01 09:12] ligi opened #297 "Add view so people could see all hacks by theme"
just got a nice idea from a friend: it would be good if you could see all hacks of a certain theme (Musical, Hardware, Libraries, Apps, ..)
Currently this is quite hard as you need to go through all episodes to see them. Maybe also a view to see all hack-of-the-month's.
For this we would also need a new data field like "tags" or "type"/"theme"

[2021-10-01 13:47] lucasrangit commented on #297
Nice idea. I think adding tags/categories to pages is already possible. That would at least narrow it down to episodes that have talks that apply.

I'm not sure I understand what you mean by viewing all the hack of the months. Do you mean generating a page say with a list of all the hacks of the month only?

[2021-10-01 14:17] ligi commented on #297
yes - kinda.
Think more like a page that has all hacks and then you can add filters e.g. for tags or hack-of-the-month

[2021-10-01 15:25] vog commented on #297
Dear all,

I'd be very happy if we could start with a page that simply has all hacks.

That alone would already be a huge improvement, and in combination
with Ctrl+F would solve almost all needs.

Any further improvements could be added later on, in a second and third step.

Best regards,
Volker

ligi wrote:

--
Volker Diels-Grabsch
----<<<((()))>>>----

[2021-10-01 15:28] ligi opened #298 "Add page to see all hacks"
extracted from #297 and now the parent of it

[2021-10-01 15:29] ligi commented on #297
yes - makes sense - created #298 as a parent/dependency of this one

[2021-10-26 16:22] vog opened #299 "Presentations of BHNT#79?"
BHNT#80 will start soon, but the BHNT#79 hacks aren't yet on the website.

I remember that those were collected in the pad at: https://pad.systemli.org/p/bhnt079

However, that one has been emptied in the meantime.

* Does anyone else have a backup/copy of this?
* Alternatively, what about the list of hacks from the voting?

[2021-10-27 15:01] lucasrangit opened #301 "Avoid keeping reveal.js sources or submodule"
Submodules are difficult to work with (since `--recurse-submodule` isn't default) and keeping external sources in our tree should be avoided.

Instead we should include this as a build dependency that gets downloaded only when needed.

[2021-11-01 00:16] ligi commented on #299
started a PR here: #302

[2021-11-03 14:59] #299 closed

[2021-11-03 15:07] johnjohndoe opened #304 "Preview website in pull request"
While looking at the latest pull requests I was missing a **preview :eyes: of the website** to comfortable look at.
I would love to have this as part of the pull request verification.

As an example we could use Netlify which I use for [Wo ist Markt?](https://github.com/wo-ist-markt/wo-ist-markt.github.io) thanks for @k-nut. For each pull request Netlify automatically deploys the website to a temp

[2021-11-04 11:52] lucasrangit commented on #304
This is a good idea. How much work is required to set it up and maintain it?

In the past I used the site created for my fork to preview changes in my PR.

That's not as seamless as what you described though.

[2021-11-11 11:43] johnjohndoe commented on #304
There is not too much to do for it. Basically, we could start with applying here: https://opensource-form.netlify.app/
This requires us to put a license on the project which is a good idea anyway. Which license are we going with @ligi?

[2021-11-12 14:33] ligi commented on #304
I would say something like CC0 - but no strong opinion on this - what does the rest think about it?

[2021-11-13 13:20] lucasrangit commented on #304
+11 for CC0

On 11/12/21, ligi ***@***.***> wrote:

--
Sent from Spectacles

[2021-11-16 18:54] vog commented on #304
+1 for CC0.

[2021-11-17 10:09] johnjohndoe commented on #304
If I understand correctly then Netlify allows to create **one free team project** per account. I have used up the team for my account/email address. Which **email address** do we want to use or does anyone want to register at Netlify with their email address?

[2021-11-19 12:59] ligi commented on #304
maybe info@berlinhackandtell.rocks ? Would love to not register with netlify

[2021-11-19 13:01] johnjohndoe commented on #304
Who is control of the mail address?

[2021-11-19 13:04] ligi commented on #304
AFAIK @stefanhoth

[2021-11-19 13:08] stefanhoth commented on #304
I'll have a look. I've used netlify for my personal website as well. It's rather easy to setup.

[2022-06-01 08:14] vog opened #311 "Slides for BHNT#81"
Where are the slides for BHNT#81? I can't find any PR, branch or fork containing them.

@ligi Are these currently just local changes on your laptop?

[2022-06-01 08:49] vog opened #312 "Proposal: Second set of slides"
I propose to create a second set of slides to be shown before and during the break after the 4th presentation.

* The first slide would have a "Flea market" headline and a quick summary of the flea market rules (line up, 1-2 sentences, etc.)
  * It would be shown only during the flea market.
* The second slide would point to Lucas' small bottles project.
* The third and final slide would be shown

[2022-06-01 09:02] vog opened #313 "Proposal: Recreate Gemfile.lock to fix dependabot#2"
I can't see any easy way to fix that one security alert:

* https://github.com/berlin-hack-and-tell/berlinhackandtell.rocks/security/dependabot/2

I'd propose to just remove Gemfile.lock, rebuild everything (so an up-to-date Gemfile.lock is generated from the Gemfile), and see if everything still works. This "flight forward" is probably the easiest way forward, compared to carefully upgrading only

[2022-06-01 09:06] vog commented on #304
@stefanhoth Were you able to make some progress on this so far? It is any way we could assist you?

[2022-06-01 09:15] #311 closed, assigned to ligi, lucasrangit

[2022-06-01 09:18] ligi commented on #312
great idea - would just put them to the normal slides - we also have the voting slide there as this is only shown on the end we can do the same with the "in-between-slide"

[2022-06-01 09:43] #313 closed

[2022-06-01 10:16] lucasrangit commented on #313
@ligi , where you using the Docker container and still having issues?

[2022-06-01 10:28] lucasrangit commented on #292
Fixed by #300

[2022-06-01 10:28] #292 closed

[2022-06-01 10:36] vog commented on #312
Okay, pull request provided. Two remarks on that:

1. Please note especially the input field at "Until"
2. I was using inline styling to fix some issues. Feel free to convert them into a custom SCSS file if you think this is appropriate.
3. @lucasrangit Feel free to fill in the "Help Lucas!" section and/or to add some picture as you see fit.

[2022-06-01 10:38] vog commented on #312
Okay, pull request provided. Some remarks on that:

1. I edited the existing slides for BHNT#81, so it will serve as a proper template for the upcoming BHNT#82.
2. Please note especially the input field after "Until" ;-)
3. I was using inline styling to fix some issues. Feel free to convert them into a custom SCSS file if you think this is appropriate.
4. @lucasrangit Feel free to fill in the "Hel

[2022-06-01 13:35] vog commented on #312
Changing assignee to @lucasrangit for my final question:

@lucasrangit Please adjust the "Help Lucas!" section as you see fit.

[2022-10-23 11:47] lucasrangit commented on #301
Or consider git subtree

[2022-11-01 14:27] Marco-Affinidi opened #331 "Next Meetup?"
Hey folks!

Isn't it about time to do another meetup?
Anything one could help with?

Best
Marco

[2022-11-01 14:30] ligi commented on #331
Unfortunately we could not do the October one as I was in colombia for DEVCon and we found no other host for this month. I will be back for the November one. But more people on the team (especially people that are willing to host) are always welcome. Would love if we get it happen regularly every month again! Please approach us at the next BHNT if you could imagine to be part of the team and maybe